@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Poppins:wght@400;500;700&display=swap');



*{

    font-family: 'Lato','Poppins', sans-serif;
}
h2{
    font-size: 2rem;
    font-weight: bold;
}

.coming-soon{
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.countdown{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.time-container{
    font-size: 1rem;
    font-weight: bold;
    
}
#day,#hour,#minute,#second{
    font-size:2rem;
    font-weight: bold;
    margin: 5px;
    color: #FF725E;
}

#image{
    height: 400px;
    width: 350px;
}

footer{
    align-items: center;
    text-align: center;
}